@model ProjectTLCNShopCore.EF.Shippers

@{
	ViewData["Title"] = "Create";
	Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<!-- start: Content -->
<div id="content" class="span10">


	<ul class="breadcrumb">
		<li>
			<i class="icon-home"></i>
			<a href="index.html">Home</a>
			<i class="icon-angle-right"></i>
		</li>
		<li>
			<i class="icon-edit"></i>
			<a href="#">Create Shippers</a>
		</li>
	</ul>

	<div class="row-fluid sortable">
		<div class="box span11">
			<div class="box-header" data-original-title>
				<h2><i class="halflings-icon edit"></i><span class="break"></span>Đơn vị vận chuyển</h2>
				<div class="box-icon">
					<a href="#" class="btn-setting"><i class="halflings-icon wrench"></i></a>
					<a href="#" class="btn-minimize"><i class="halflings-icon chevron-up"></i></a>
					<a href="#" class="btn-close"><i class="halflings-icon remove"></i></a>
				</div>
			</div>
			<div class="box-content">
				@using (Html.BeginForm("Create", "Shippers", FormMethod.Post, new { @class = "form-horizontal" }))
				{
					@*<form class="form-horizontal" action="Create" method="post">*@
					<fieldset>
						<div class="control-group">
							<label class="control-label" for="typeahead">Tên loại ĐV vận chuyển:</label>
							<div class="controls">
								@Html.TextBoxFor(model => model.CompanyName, htmlAttributes: new { @class = "span6 typeahead", @placeholder = "Nhập đơn vị vận chuyển", @id = "CategoryName" })
								<span asp-validation-for="CategoryName" class="text-danger"></span>
							</div>
						</div>
						<div class="control-group hidden-phone">
							<label asp-for="Description" class="control-label" for="textarea2">Mô tả</label>
							<div class="controls">

								@Html.TextAreaFor(model => model.Description, htmlAttributes: new { @class = "cleditor", @id = "Description", @rows = "3" })
							</div>
						</div>
						<div class="control-group">
							<label class="control-label" for="typeahead">Số điện thoại:</label>
							<div class="controls">
								@Html.TextBoxFor(model => model.Phone, htmlAttributes: new { @class = "span6 typeahead", @placeholder = "Nhập số điện thoại", @id = "CategoryName" })
								<span asp-validation-for="CategoryName" class="text-danger"></span>
							</div>
						</div>
						<div class="form-actions">
							<button type="submit" class="btn btn-primary">Create</button>
						</div>
					</fieldset>
						@*</form>*@

				}
			</div>
		</div><!--/span-->

	</div>
</div>