@media (max-width: 767px) {
    /* On small screens, the nav menu spans the full width of the screen. Leave a space for it. */
    .body-content {
        padding-top: 50px;
    }
}
h1{
	text-align:center;
}

.navbar-nav > li > a {
    margin-top: 5px;
}

.navbar-nav > li > a  img{
   height: 20px;
   width: 20px;
   border-radius: 12px;
}
.container{
    margin-top: 50px;
    margin-left:0px;
}