/*-- about --*/
.banner1{
	background:url(/images/10.jpg) no-repeat 0px -90px;
	background-size:cover;
	min-height:400px;
	padding:7em 0 2em;
	text-align:center;
}
.banner1 h3{
	font-size:2.5em;
	color:#fff;
	margin-bottom: .5em;
}
.banner1 ul li{
	display:inline-block;
	text-transform:uppercase;
	color:#fff;
}
.banner1 ul li a{
	color:#FF008F;
	text-decoration:none;
}
.banner1 ul li a:hover{
	color:#fff;
}
.banner1 ul li i{
	padding:0 2em;
}
ul.w3_short {
    padding: 4em 0 0;
}


.mail{
    margin-bottom:20px;
}
/*contact input*/


    .nunc{
	position:relative;
	text-align:center;
	color:#999;
	line-height:1.8em;
	padding-bottom:1.5em;
}
.nunc:after{
	content: '';
    background: #FF008F;
    height: 2px;
    position: absolute;
    bottom: 0%;
    left: 45%;
    width: 10%;
}
.w3_head{
	text-align:center;
	color:#212121;
	margin:0 0 .5em;
	font-size:2.5em;
}
.w3_sub_head{
	text-align:center;
	color:#FF008F;
	font-size:1em;
}
/*-- //contact input --*/
.agileinfo_mail_grid_right input[type="submit"], .agileinfo_mail_grid_right input[type="reset"] {
		width: 46.4%;
	}

.agileinfo_mail_grid_right textarea {
		width: 94.5% !important;
	}

.agileinfo_mail_grid_left ul li {
		font-size: 14px;
	}

	.agileinfo_mail_grid_left {
		margin: 2em 0 0;
	}

    .agileinfo_mail_grid_left ul li {
    display: inline-block;
    font-size: 1em;
    color: #999;
    text-transform: capitalize;
}
.agileinfo_mail_grid_left ul li a{
	color:#999;
	text-decoration:none;
}
.agileinfo_mail_grid_left ul li a:hover{
	color:#212121;
}
.agileinfo_mail_grid_left ul li i {
    color: #FF008F;
    padding-right: 1em;
}
.agileinfo_mail_grid_left ul li:nth-child(2){
	margin:1em 0;
}
	.wthree_contact_left_grid {
		padding: 0;
        padding-left: 15px;
	}

    .agileinfo_mail_grid_right textarea {
		width: 100% !important;
		margin: 1em 0em;
	}
	.agileinfo_mail_grid_right input[type="submit"] {
		margin-left: 0;
	}


.agileinfo_mail_grid_right input[type="text"], .agileinfo_mail_grid_right input[type="email"], .agileinfo_mail_grid_right textarea {
    outline: none;
    padding: 10px;
    font-size: 14px;
    color: #212121;
    background: #f5f5f5;
    width: 100%;
    height:50px;
    border: 1px solid #E6E6E6;
}
.agileinfo_mail_grid_right textarea {
    min-height: 200px;
    margin: 1em 1.1em;
    width: 95.9% !important;
}


.agileinfo_mail_grid_right input[type="submit"], .agileinfo_mail_grid_right input[type="reset"] {
    outline: none;
    padding: 10px 0;
    font-size: 14px;
    color: #fff;
    background: #772953;
    width: 46.6%;
    border: none;
    text-transform: uppercase;
    margin-left: 1.1em;
}
.agileinfo_mail_grid_right input[type="submit"]:hover,.agileinfo_mail_grid_right input[type="reset"]:hover {
    background: #212121;
}
.agileinfo_mail_grid_right input[type="text"]:nth-child(2), .agileinfo_mail_grid_right input[type="email"] {
    margin: 1em 0 0;
}

.agileinfo_mail_grid_right input[type="text"], .agileinfo_mail_grid_right input[type="email"], .agileinfo_mail_grid_right textarea {
    outline: none;
    padding: 10px;
        margin-top: 20px;
    font-size: 14px;
    color: #212121;
    background: #f5f5f5;
    width:96%;
    border: 1px solid #E6E6E6;
}
.agileinfo_mail_grid_right textarea {
    min-height: 200px;
    margin: 1em 1.1em;
    width: 95.9% !important;
}
.agileinfo_mail_grid_right input[type="submit"], .agileinfo_mail_grid_right input[type="reset"] {
    outline: none;
    padding: 10px 0;
    font-size: 14px;
    color: #fff;
    background: #FF008F;
    width: 46.6%;
    border: none;
    text-transform: uppercase;
    margin-left: 1.1em;
}
.agileinfo_mail_grid_right input[type="submit"]:hover,.agileinfo_mail_grid_right input[type="reset"]:hover {
    background: #212121;
}
.agileinfo_mail_grid_right input[type="text"]:nth-child(2), .agileinfo_mail_grid_right input[type="email"] {
    margin: 1em 0 0;
    padding-top: 10px;
}

	.wthree_contact_left_grid:nth-child(2) {
		
	}
@media (max-width: 414px) {

    .agileinfo_mail_grid_right input[type="submit"], .agileinfo_mail_grid_right input[type="reset"] {
        width: 100%;
        margin-top:10px;
    }
   
}
@media (max-width: 560px) {

    .agileinfo_mail_grid_right input[type="submit"], .agileinfo_mail_grid_right input[type="reset"] {
        width: 100%;
        margin-top: 10px;
    }
}