<header></header>
<!-- banner1 -->
<div class="banner1">
    <div class="container">
        <ul class="w3_short">
            <li><a routerLink="/">Home</a><i>/</i></li>
            <li>Contact</li>
        </ul>
    </div>
</div>
<!-- //banner1 -->
<!--mail-->
<!-- mail -->
<div class="mail">
    <div class="container">
        <h4 class="w3_sub_head">Electronic Shop</h4>
        <h3 class="w3_head">Mail Us</h3>
        <p class="nunc">Mọi thắc mắc, góp ý xin liên hệ với chúng tôi thông qua.</p>
        <div class="agileinfo_mail_grids">
            <div class="col-md-8 agileinfo_mail_grid_right">
                <form (ngSubmit)="onSubmit()" #heroForm="ngForm">
                    <div *ngIf="submitted"> Yours Message send  susscess!</div>
                    <!--//{{diagnostic}}-->
                    <div class="col-md-6 wthree_contact_left_grid">
                        <input type="text" name="name" placeholder="Họ và tên" required="" [(ngModel)]="model.name">
                        <input type="email" name="email" placeholder="Email" required="required" [(ngModel)]="model.email">
                    </div>
                    <div class="col-md-6 wthree_contact_left_grid">
                        <input type="text" name="phone" placeholder="Số điện thoại" required="" [(ngModel)]="model.phone">
                        <input type="text" name="subject" placeholder="Chủ đề" required="" [(ngModel)]="model.subject">
                    </div>
                    <div class="clearfix"> </div>
                    <textarea name="Message" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message...';}" required="" [(ngModel)]="model.message">Tin nhắn...</textarea>
                    <input  type="submit" value="Gửi">
                    <input type="reset" value="Xóa">
                </form>
            </div>
            <div class="col-md-4 agileinfo_mail_grid_left">
                <ul>
                    <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i><span>address</span> : 01, Võ Văn Ngân, Q.Thủ Đức.</li>
                    <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><span>email </span> :<a href="mailto:info@electronicshop.com">info@electronicshop.com</a></li>
                    <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i><span>call to us :</span> :(+084) 169 565 447</li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<footer></footer>