<header></header>
<!-- banner1 -->
<div class="banner1">
    <div class="container">
        <ul class="w3_short">
            <li><a routerLink="/">Home</a><i>/</i></li>
            <li>Contact</li>
        </ul>
    </div>
</div>
<!-- //banner1 -->

<!--mail-->
<!-- mail -->
<div class="mail">
    <div class="container">
        <h4 class="w3_sub_head">Electronic Shop</h4>
        <h3 class="w3_head">Mail Us</h3>
        <p class="nunc">Mọi thắc mắc, góp ý xin liên hệ với chúng tôi thông qua.</p>
        <div class="agileinfo_mail_grids">
            <div class="col-md-8 agileinfo_mail_grid_right">
                <form action="#" method="post">
                    <div class="col-md-6 wthree_contact_left_grid">
                        <input type="text" name="Name" placeholder="Họ và tên" required="">
                        <input type="email" name="Email" placeholder="Email" required="">
                    </div>
                    <div class="col-md-6 wthree_contact_left_grid">
                        <input type="text" name="Telephone" placeholder="Số điện thoại" required="">
                        <input type="text" name="Subject" placeholder="Chủ đề" required="">
                    </div>
                    <div class="clearfix"> </div>
                    <textarea name="Message" onfocus="this.value = '';" onblur="if (this.value == '') {this.value = 'Message...';}" required="">Tin nhắn...</textarea>
                    <input type="submit" value="Gửi">
                    <input type="reset" value="Xóa">
                </form>
            </div>
            <div class="col-md-4 agileinfo_mail_grid_left">
                <ul>
                    <li><i class="glyphicon glyphicon-map-marker" aria-hidden="true"></i><span>address</span> : 01, Võ Văn Ngân, Q.Thủ Đức.</li>
                    <li><i class="glyphicon glyphicon-envelope" aria-hidden="true"></i><span>email </span> :<a href="mailto:info@electronicshop.com">info@electronicshop.com</a></li>
                    <li><i class="glyphicon glyphicon-earphone" aria-hidden="true"></i><span>call to us :</span> :(+084) 169 565 447</li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!--<div class="map">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d50996.31320435244!2d-122.06676498187694!3d36.97949802442312!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x808e441b7c36d549%3A0x52ca104b2ad7f985!2sSanta+Cruz%2C+CA%2C+USA!5e0!3m2!1sen!2sin!4v1469096018666" style="border:0"></iframe>
</div>-->
<!-- //mail -->

<footer></footer>