
<div *ngIf="auth.authenticated()" class="text-center">
	<form action="#" method="post" data-form-title="CONTACT FORM">

		<input type="hidden" value="bSliWrRmtO2TBuuHeLpDvZflUiMmn0KWSUF196TtNfklCoPe0SHJ7TNrjuxESCLyteexwRhUA/Laa4mFUl7djIZpl69lkLqy6ycbNf0tdmEEleIOyZxTX/Bk7q4x4sAl" data-form-email="true">

		<div class="row row-sm-offset">

			<div class="col-xs-12 col-md-4">
				<div class="form-group">
					<label class="form-control-label" for="form1-l-name">Name<span class="form-asterisk">*</span></label>
					<input type="text" class="form-control" name="name" required="" data-form-field="Name" id="form1-l-name">
				</div>
			</div>

			<div class="col-xs-12 col-md-4">
				<div class="form-group">
					<label class="form-control-label" for="form1-l-email">Email<span class="form-asterisk">*</span></label>
					<input type="email" class="form-control" name="email" required="" data-form-field="Email" id="form1-l-email">
				</div>
			</div>

			<div class="col-xs-12 col-md-4">
				<div class="form-group">
					<label class="form-control-label" for="form1-l-phone">Phone</label>
					<input type="tel" class="form-control" name="phone" data-form-field="Phone" id="form1-l-phone">
				</div>
			</div>

		</div>

		<div class="form-group">
			<label class="form-control-label" for="form1-l-message">Message</label>
			<textarea class="form-control" name="message" rows="7" data-form-field="Message" id="form1-l-message"></textarea>
		</div>

		<div><button type="submit" class="btn btn-primary">CONTACT US</button></div>

	</form>
</div>

