<header></header>

<!-- banner1 -->
<div class="banner1">
    <div class="container">
        <h3>About Us</h3>
        <ul>
            <li><a routerLink="/">Home</a><i>/</i></li>
            <li>About Us</li>
        </ul>
    </div>
</div>
<!-- //banner1 -->

<!--about-->

<!-- about -->
<div class="about">
    <div class="container">
        <div class="wthree_about_grids">
            <div class="col-md-6 wthree_about_grid_left">
                <h3>Chi tiết về chúng tôi</h3>
                <div class="wthree_about_grid_left1">
                    <span></span>
                    <div class="wthree_about_grid_left1_pos">
                        <p>
                            Quý khách có nhu cầu liên lạc, trao đổi hoặc đóng góp ý kiến, vui lòng tham khảo các thông tin sau:

                            Liên lạc qua điện thoại: 1900 6035
                            Liên lạc qua email: Truy cập hotro.electronicshop.vn
                            Fanpage của Tiki: http://facebook.com/electronicshop.vn
                            Đối tác có nhu cầu hợp tác quảng cáo hoặc kinh doanh: marketing@tiki.vn
                            Địa chỉ nhận hàng đổi/trả/bảo hành: Trung tâm xử lý đơn hàng Electronic Shop - 367/F370 Đường Bạch Đằng, P.2, Q.Tân Bình TP. Hồ Chí Minh (Tham khảo hướng dẫn đổi, trả, bảo hành hoặc liên hệ 1900-6035 để được hướng dẫn trước khi gửi sản phẩm về Tiki)
                            Văn phòng: 52 Út Tịch, phường 4, quận Tân Bình, thành phố Hồ Chí Minh
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 wthree_about_grid_right">
                <img src="images/11.jpg" alt=" " class="img-responsive" />
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //about -->
<!--//about-->

<footer></footer>