<header></header>

<!-- banner1 -->
<div class="banner1">
    <div class="container">
        <h3>About Us</h3>
        <ul>
            <li><a routerLink="/">Home</a><i>/</i></li>
            <li>About Us</li>
        </ul>
    </div>
</div>
<!-- //banner1 -->

<!--about-->

<!-- about -->
<div class="about">
    <div class="container">
        <div class="wthree_about_grids">
            <div class="col-md-6 wthree_about_grid_left">
                <h3>Chi tiết về chúng tôi</h3>
                <div class="wthree_about_grid_left1">
                    <span></span>
                    <div class="wthree_about_grid_left1_pos">
                        <p>
                            Fusce semper, nibh eu sollicitudin imperdiet, dolor magna vestibulum mi,
                            vel tincidunt augue ipsum nec erat. Vestibulum congue leo elementum
                            ullamcorper commodo. Class aptent taciti sociosqu ad litora torquent
                            per conubia nostra, per inceptos himenaeos.
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 wthree_about_grid_right">
                <img src="images/11.jpg" alt=" " class="img-responsive" />
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //about -->
<!--//about-->

<footer></footer>