<header></header>
<!-- banner1 -->
<div class="banner1">
    <div class="container">
        <ul class="w3_short">
            <li><a routerLink="/">Home</a><i>/</i></li>
            <li>Cart</li>
        </ul>
    </div>
</div>
<!-- //banner1 -->

<!-- check out -->
<div class="checkout">
    <div class="container">
        <h3>My Shopping Bag</h3>
        <h3 *ngFor="let item of line">{{item?.product?.productName}}</h3>
        <div class="table-responsive checkout-right animated wow slideInUp" data-wow-delay=".5s">
            <table class="timetable_sub">
                <thead>
                    <tr>
                        <th>Remove</th>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Product Name</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tr class="rem1" *ngFor="let item of line">
                    <td class="invert-closeb" >
                        <div class="rem">
                            <a class="close1"  (click)="removeLineCart(item?.product?.productID)" ></a>
                        </div>
                    </td>
                    <td class="invert-image"><a href="#"><img src="{{item?.product?.picture}}"  class="img-responsive" /></a></td>
                    <td class="invert">
                        <div class="quantity">
                            <div class="quantity-select">
                                <div  routerLink="/cart" class="entry value-minus" (click)="removeCart(item?.product?.productID)">&nbsp;</div>
                                <div class="entry value"><span>{{item?.quantity}}</span></div>
                                <div  routerLink="/cart" class="entry value-plus active" (click)="plusCart(item?.product?.productID)"></div>
                            </div>
                        </div>
                    </td>
                    <td class="invert">{{item?.product?.productName}}</td>
                    <td class="invert">{{item?.product?.unitPrice}}</td>
                </tr>
              
                
               
            </table>
        </div>
        <div class="checkout-left">

            <div class="checkout-right-basket animated wow slideInRight" data-wow-delay=".5s">
                <a  (click)="goBack()"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Back To Shopping</a>
                <a routerLink="/category"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>Check Out</a>
            </div>
            <div class="checkout-left-basket animated wow slideInLeft" data-wow-delay=".5s">
                <h4>Shopping basket</h4>
                <ul>
                    <li>Hand Bag <i>-</i> <span>$45.99</span></li>
                    <li>Watches <i>-</i> <span>$45.99</span></li>
                    <li>Sandals <i>-</i> <span>$45.99</span></li>
                    <li>Wedges <i>-</i> <span>$45.99</span></li>
                    <li>Total <i>-</i> <span>{{cart1?.totalPrice}}</span></li>
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //check out -->
<footer></footer>