<header></header>
<!-- banner1 -->
<div class="banner1">
    <div class="container">
        <ul class="w3_short">
            <li><a routerLink="/">Home</a><i>/</i></li>
            <li>Cart</li>
        </ul>
    </div>
</div>
<!-- //banner1 -->

<!-- check out -->
<div class="checkout">
    <div class="container">
        <h3>My Shopping Bag</h3>
        <div class="table-responsive checkout-right animated wow slideInUp" data-wow-delay=".5s">
            <table class="timetable_sub">
                <thead>
                    <tr>
                        <th>Remove</th>
                        <th>Product</th>
                        <th>Quantity</th>
                        <th>Product Name</th>
                        <th>Price</th>
                    </tr>
                </thead>
                <tr class="rem1" *ngFor="let item of rowDataMainForm ;let addressFormIndex =index">
                          

                        <td class="invert-closeb">
                            <div class="rem">
                                
                                <a class="close1" (click)="deleteLineCart(addressFormIndex,item.product.productID)"></a>
                            </div>
                        </td>
                        <td class="invert-image"><a href="#"><img src="{{item.product.picture}}" class="img-responsive" /></a></td>
                        <td class="invert">
                            <div class="quantity">
                                <div class="quantity-select">
                                    <div class="entry value-minus" (click)="MinusProduct(addressFormIndex,item.product.productID)"></div>
                                    <div class="entry value"><span>{{item.quantity}}</span></div>
                                    <div class="entry value-plus active" (click)="PlusProduct(addressFormIndex,item.product.productID)"></div>
                                </div>
                            </div>
                        </td>
                        <td class="invert">{{item.product.productName}}</td>
                        <td class="invert">{{item.price }}</td>
                    
                </tr>
              
                
               
            </table>
        </div>
        <div class="checkout-left">

            <div class="checkout-right-basket animated wow slideInRight" data-wow-delay=".5s">
                <a  (click)="goBack()"><span class="glyphicon glyphicon-menu-left" aria-hidden="true"></span>Back To Shopping</a>
                <a routerLink="/checkout"><span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span>Check Out</a>
            </div>
            <div class="checkout-left-basket animated wow slideInLeft" data-wow-delay=".5s">
                <h4>Shopping basket</h4>
                <ul *ngFor="let item1 of rowDataMainForm ;let addressFormIndex =index">
                    <li>{{item1.product.productName}} </li>
                    
                </ul>
                <ul> 
                    <!--<li >Total <i>-</i> <span>{{cart1?.totalPrice }}</span></li>-->
                </ul>
            </div>
            <div class="clearfix"> </div>
        </div>
    </div>
</div>
<!-- //check out -->
<footer></footer>