.banner1{
	background:url(/images/10.jpg) no-repeat 0px -90px;
	background-size:cover;
	min-height:400px;
	padding:7em 0 2em;
	text-align:center;
}
.banner1 h3{
	font-size:2.5em;
	color:#fff;
	margin-bottom: .5em;
}
.banner1 ul li{
	display:inline-block;
	text-transform:uppercase;
	color:#fff;
}
.banner1 ul li a{
	color:#FF008F;
	text-decoration:none;
}
.banner1 ul li a:hover{
	color:#fff;
}
.banner1 ul li i{
	padding:0 2em;
}

/*-- check out --*/
.checkout{
	padding:10px 0;
}

.checkout h3 {
    color: #000;
    text-align: center;
    font-size: 26px;
	margin:0 0 3em;
	text-transform:uppercase;
}
.checkout h3 span{
	color:#d8703f;
}
table.timetable_sub {
	width:100%;
	margin:0 auto;
}
.timetable_sub thead {
    background: #772953;
}
.timetable_sub th{
    background: #772953;
    color: #fff !important;
    text-transform: capitalize;
    font-size: 13px;
    border-right: 1px solid #CDCDCD;
}
.timetable_sub th {
    text-align: center;
    padding: 7px;
    font-size: 17px;
    color: #212121;
}
 .timetable_sub td {
    text-align: center;
    padding: 7px;
    font-size: 14px;
    color: #000;
}
.timetable_sub td {
	border:1px solid #CDCDCD;
}
td.invert-image a img {
    width:30%;
    margin: 0 auto;
}
.rem{
	position:relative;
}
.close1,.close2,.close3,.close4 {
    background: url('/images/category/close_1.png') no-repeat 0px 0px;
    cursor: pointer;
    width: 28px;
    height: 28px;
    position: absolute;
    right: 42px;
    top: -13px;
    -webkit-transition: color 0.2s ease-in-out;
    -moz-transition: color 0.2s ease-in-out;
    -o-transition: color 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
}
/*-- quantity-starts --*/
 .value-minus,
.value-plus{
    height: 40px;
    line-height: 24px;
    width: 40px;
    margin-right: 3px;
    display: inline-block;
    cursor: pointer;
    position: relative;
    font-size: 18px;
    color: #fff;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
	border:1px solid #b2b2b2;
	vertical-align: bottom;
}
.quantity-select .entry.value-minus:before,
.quantity-select .entry.value-plus:before{
	content: ""; 
	width: 13px;
	height: 2px; 
	background: #FDA30E;
	left: 50%;
	margin-left: -7px; 
	top: 50%;
	margin-top: -0.5px;
	position: absolute;
}
.quantity-select .entry.value-plus:after{
	content: "";
	height: 13px;
	width: 2px; 
	background: #FDA30E;
	left: 50%; 
	margin-left: -1.4px;
    top: 50%;
    margin-top: -6.2px;
	position: absolute;
}
.value  {
	cursor: default;
    width: 40px;
    height: 40px;
    padding: 8px 0px;
    color: #000000;
    line-height: 24px;
    border: 1px solid #B2B2B2;
    text-align: center;
    display: inline-block;
    margin-right: 3px;
}
.quantity-select .entry.value-minus:hover,
 .quantity-select .entry.value-plus:hover{
	background: #E5E5E5;
}

.quantity-select .entry.value-minus{
    margin-left: 0;
}
/*-- quantity-end --*/
.checkout-left-basket h4{
	padding: 1em;
    background:#772953;
    font-size: 1.1em;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    margin: 0 0 1em;
}
.checkout-left {
    margin: 2em 0 0;
}
.checkout-left-basket ul li{
	list-style-type:none;
	margin-bottom:1em;
	font-size:14px;
	color:#999;
}
.checkout-left-basket {
    float: right;
    width: 25%;
    border: 1px solid #ccc;
}
.checkout-right-basket{
	float: left;
    margin: 8em 0 0 0em;
}
.checkout-left-basket ul li span {
    float: right;
}
.checkout-left-basket ul {
    padding: 4px 25px;
}
.checkout-left-basket ul li:nth-child(5) {
    border-top: 1px solid #ccc;
    padding: 20px 0 0;
}
.checkout-right-basket a{
	padding:10px 30px;
	color:#fff;
	font-size:1em;
	background:#212121;
	text-decoration:none;
}
.checkout-right-basket a:hover{
	background:#772953;
}
.checkout-right-basket a span {
    left: -.5em;
    top: 0.1em;
}
/*-- //check out --*/