<header ></header>
<!-- banner1 -->
<div class="banner1">
    <div class="container">
        <ul class="w3_short">
            <li><a routerLink="/">Home</a><i>/</i></li>
            <li>Electronics</li>
        </ul>
    </div>
</div>
<!-- //banner1 -->
<!-- Electronics -->
<div class="electronics" >
    <div class="container">
  
        <div class="clearfix"></div>
        <div class="ele-bottom-grid">
            <h3><span>Latest </span>Collections</h3>
            <p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium</p>
            
            
            <div *ngIf="pro.productID!=-9999">
                

                <div class="col-md-3 product-men" *ngFor="let pro1 of pro">
                    <div class="men-pro-item simpleCart_shelfItem">
                        <div class="men-thumb-item">
                          
                          
                            <img src="{{pro1.picture | explode}}" alt="" class="pro-image-front">
                            <img src="{{pro1.picture | explode}}" alt="" class="pro-image-back">
                            <div class="men-cart-pro">
                                <div class="inner-men-cart-pro">
                                    <a [routerLink]="['/detail', pro1.productID]" class="link-product-add-cart">Detail</a>
                                </div>
                            </div>
                            <span class="product-new-top">New</span>

                        </div>
                        <div class="item-info-product ">
                            <h4><a [routerLink]="['/detail', pro1.productID]">{{pro1.productName}}</a></h4>
                            <div class="info-product-price">
                                <span class="item_price">{{pro1.unitPrice}} VNĐ</span>
                            </div>
                            <a  [routerLink]="['/cart']" class="item_add single-item hvr-outline-out button2" (click)="addCart(pro1.productID)">Add to cart</a>
                        </div>
                    </div>
                </div>

            </div>


            <div *ngIf="pro.productID==-9999">
                <div class="col-md-3 product-men">
                        <div class="men-thumb-item">
                          <h4>Không tìm thấy sản phẩm</h4> 
                            <br />
                </div>
            </div>
          </div>
            <div class="clearfix"></div>
        </div>
    </div>
</div>
<!-- //Electronics -->
<a class="btn-top" href="javascript:void(0);" title="Back Top" style="display: inline;"></a>
<!--end electonics-->
<footer></footer>