<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>@ViewData["Title"] - ProjectTLCNShopCore</title>
        <base href="/" />
        <link rel="stylesheet" href="~/css/loadingpage.css" asp-append-version="true" />
        @*<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />*@
        <!-- Polyfill(s) for older browsers -->
        <<!-- Latest compiled and minified CSS -->
        <link rel="stylesheet" href="https://bootswatch.com/united/bootstrap.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		   
		
    </head>
    <body>
        @RenderBody()

        @RenderSection("scripts", required: false)

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </body>
</html>
